<div class="left-container">
    <span>Container</span>
    <div class="category-container row">
        <span class="place-holder" ng-if="filterCategories.length == 0">
            Drag over categories or click and enter a new one
        </span>
        <ul dnd-list="filterCategories" ng-click="containerClick($event)" dnd-drop="validateDrag(event, index, item, external, type, 'itemType')" dnd-inserted="categoryInserted(event)">
            <li ng-repeat="item in filterCategories"
                draggable="true">
                {{item.label}}
                <input type="text" name="inputCategory" ng-if="item.type == 'input'" util-keypress="updateCategory(item, $text)" key-command="enter" auto-focus>
                <span ng-click="deleteFilterCategory(item, $event)"><i class="fa fa-close"></i></span>
            </li>
        </ul>
    </div>
    
    <div>
        <div class="row" ng-click="languagesChange($event)">
            <span class="label-title">Language</span> 
            <div ng-repeat="check in languageChecks" class="language-checkbox">
              <input type="checkbox" name="{{check.value}}" ng-model="check.checked">
              <label for="{{check.value}}">{{check.label}}</label>
            </div>
            
        </div>
        <div class="row">
            <span class="label-title">Date</span>
            <div class="calendar-container">
                <input type="text" date-time id="datePicker" ng-model="filterDate" 
                view="date" min-view="date" max-view="year" 
                format="DD.MM.YYYY" date-change="dateChange">
            </div>
        </div>
        <div class="row">
            <span class="label-title">Cover Color</span>
            <div class="color-container">
                <color-picker ng-model="filterColor"
                color-picker-format="'hex'"
                color-picker-alpha="false"
                color-picker-case="upper"
                color-picker-on-change="colorChange($event, color)"
                ></color-picker>
            </div>
        </div>
    </div>
</div>
<div class="right-container">
    Drag and Drop

    <ul>
        <li ng-repeat="item in categories"
            dnd-draggable="item"
            dnd-effect-allowed="copy"
            draggable="true"
            >
            {{item.label}}
        </li>
    </ul>
</div>
<div class="clear-both"></div>