/**
 * basic layout
 */
 
// imports
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

// mixins
/* reseting the global styles */
* {
  margin: 0;
  padding: 0;
}

// application styles
body {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.9px;
	height: 100%;
}

.clear-both{
  clear:both;
}

#main {
	width: 100%;
  height: calc(~"100vh - 70px");
  color: #333;
}

/* sections styling */

section {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}