<div class="left-container">
    <span>Container</span>
    <div class="category-container">
        <span class="place-holder" ng-if="filterCategories.length == 0">
            Drag over categories or click and enter a new one
        </span>
        <ul dnd-list="filterCategories" ng-click="containerClick($event)" dnd-drop="validateDrag(event, index, item, external, type, 'itemType')">
            <li ng-repeat="item in filterCategories"
                draggable="true">
                {{item.label}}
                <input type="text" name="inputCategory" ng-if="item.type == 'input'" util-keypress="updateCategory(item, $text)" key-command="enter" auto-focus>
                <span ng-click="deleteFilterCategory(item, $event)"><i class="fa fa-close"></i></span>
            </li>
        </ul>
    </div>
    
    <div>
        <div>
            <span>Language</span> 
            <input type="checkbox" name="english">
            <label for="english">English</label>
            <input type="checkbox" name="german">
            <label for="german">German</label>
        </div>
        <div>
            <span>Date</span>
        </div>
        <div>
            <span>Cover Color</span>
        </div>
    </div>
</div>
<div class="right-container">
    Drag and Drop

    <ul>
        <li ng-repeat="item in categories"
            dnd-draggable="item"
            dnd-effect-allowed="copy"
            draggable="true"
            >
            {{item.label}}
        </li>
    </ul>
</div>